<div class="icons">
  <h4>© 2019 Omniagoods. All Rights Reserved.</h4>
  <i class="fa-brands fa-facebook"></i>
  <i class="fa-brands fa-twitter"></i>
  <i class="fa-brands fa-instagram"></i>
  <i class="fa-brands fa-linkedin"></i>
  <i class="fa-brands fa-github"></i>
</div>
<h5>Made With <i class="fa-solid fa-heart"></i> By DirtDev</h5>
