<section class="navbar">
    <nav>
      <a href="/views/index.html">Omnia Goods</a>
      <div class="nav-links">
        <ul>
          <li><a href="/views/index.html">Our Story</a></li>
          <li><a href="/views/products.html">Products</a></li>
          <li><a href="/views/locations.html">Locations</a></li>
          <li><a href="#">Order Now</a></li>
        </ul>
      </div>
    </nav>
  </section>