<section class="navbar">
    <nav>
      <a href="/">Omnia Goods</a>
      <div class="nav-links">
        <ul>
          <li><a href="/products">Products</a></li>
          <li><a href="/locations">Locations</a></li>
        </ul>
      </div>
    </nav>
  </section>