<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
  </head>
  <body>
    <div class="form-container">
      <div class="header-container">
        <%- include('./partials/headerText.ejs') %>
      </div>
      <div class="body-container">
          <div class="image-container">
            <img src="/images/stoned.png" alt="">
          </div>
      </div>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
