<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
  </head>
  <body>
    <div class="form-container">
      <div class="header-container">
        <%- include('./partials/headerText.ejs') %>
      </div>
      <div class="body-container">
        <h1>Step Progress Bar</h1>
        <div class="progress-container">
          <div class="progress" id="progress"></div>
          <div class="circle active"><i class="fab fa-html5"></i></div>
          <div class="circle active"><i class="fab fa-css3-alt"></i></div>
          <div class="circle"><i class="fab fa-js"></i></div>
          <div class="circle"><i class="fab fa-react"></i></div>
        </div>
      </div>
    </div>
  </body>
</html>
