<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
  </head>
  <body>
    <div class="form-container">
      <div class="header-container">
        <%- include('./partials/headerText.ejs') %>
      </div>
      <div class="body-container">
          <div class="confirm">
            <h1>TITTY MILK!!!!!!</h1>
            <h1>TITTY MILK!!!!!!</h1>
            <h1>TITTY MILK!!!!!!</h1>
            <h1>TITTY MILK!!!!!!</h1>
          </div>
      </div>
    </div>
  </body>
</html>
