<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
  </head>
  <body>
    <div class="form-container">
      <div class="header-container">
        <h1>
          Omnia Goods <br />
          Dispensary. <br />
          <img src="/images/weed.png" height="125" width="125" />
        </h1>
      </div>
      <div class="body-container">
        <form action="/api/user/login/" method="post">
          <div class="form-name">
            <input type="text" name="mobilenumber" autocomplete="off" required />
            <label for="mobilenumber" class="label-name">
              <span class="content-name"> Phone Number </span>
            </label>
          </div>
          <button type="submit" class="btn-one">Log-In</button>
          <button type="submit" class="btn-one">Sign-Up</button>
        </form>
      </div>
    </div>
  </body>
</html>
