<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
  </head>
  <body>
    <div class="bg-container">
      <%- include('./partials/nav.ejs') %>
      <section class="products">
        <h1>Products We Offer</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
        <div class="row">
          <div class="product-col">
            <img src="/images/flowermisc.jpg" alt="flower" />
            <h3>Flower</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
          </div>
          <div class="product-col">
            <img src="/images/edibles2.jpg" alt="flower" />
            <h3>Edibles</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
          </div>
          <div class="product-col">
            <img src="/images/oil.jpg" alt="flower" />
            <h3>Oils/Pre-rolls</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
          </div>
        </div>
      </section>
      <section class="footer"><%- include('./partials/footer.ejs') %></section>
    </div>
  </body>
</html>
