<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
  </head>
  <body>
    <div class="form-container">
        <div class="header-container">
          <h1>
            Omnia Goods <br />
            Dispensary. <br />
            <img src="/images/weed.png" height="125" width="125" />
          </h1>
        </div>
        <div class="body-container">
            <form action="/api/user/verify/" method="post">
              <div class="form-name">
                <input type="text" name="phone-number" autocomplete="off" required />
                <label for="phone-number" class="label-name">
                  <span class="content-name"> Phone Number </span>
                </label>
              </div>
              <div class="form-name">
                <input type="text" name="referral-code" autocomplete="off" required />
                <label for="referral-code" class="label-name">
                  <span class="content-name"> Referral Code </span>
                </label>
              </div>
              <div class="form-name">
                <input
                  type="text"
                  name="first-name"
                  autocomplete="off" required   
                />
                <label for="name" class="label-name">
                  <span class="content-name"> First Name </span>
                </label>
              </div>
              <div class="form-name">
                <input type="text" name="last-name" autocomplete="off" required />
                <label for="last-name" class="label-name">
                  <span class="content-name"> Last Name </span>
                </label>
              </div>
              <div class="form-name">
                <input type="text" name="birthday" autocomplete="off" required />
                <label for="birthday" class="label-name">
                  <span class="content-name"> Birthday </span>
                </label>
              </div>
              <div class="form-name">
                <input type="text" name="email" autocomplete="off" required />
                <label for="email" class="label-name">
                  <span class="content-name"> Email </span>
                </label>
              </div>
                  <button type="submit" class="btn-one">register</button>
            </form>
        </div>
  </body>
</html>
