<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
  </head>
  <body>
    <div class="form-container">
        <div class="header-container">
          <%- include('./partials/headerText.ejs') %>
        </div>
        <div class="body-container">
            <form action="/api/user/register/" method="post">
              <div class="form-name">
                <input type="text" name="phonenumber" autocomplete="off" required />
                <label for="phonenumber" class="label-name">
                  <span class="content-name"> Phone Number </span>
                </label>
              </div>
              <div class="form-name">
                <input type="text" name="referralcode" autocomplete="off" required />
                <label for="referralcode" class="label-name">
                  <span class="content-name"> Referral Code </span>
                </label>
              </div>
              <div class="form-name">
                <input
                  type="text"
                  name="firstname"
                  autocomplete="off" required   
                />
                <label for="firstname" class="label-name">
                  <span class="content-name"> First Name </span>
                </label>
              </div>
              <div class="form-name">
                <input type="text" name="lastname" autocomplete="off" required />
                <label for="lastname" class="label-name">
                  <span class="content-name"> Last Name </span>
                </label>
              </div>
              <div class="form-name">
                <input type="text" name="birthday" autocomplete="off" required />
                <label for="birthday" class="label-name">
                  <span class="content-name"> Birthday </span>
                </label>
              </div>
              <div class="form-name">
                <input type="text" name="email" autocomplete="off" required />
                <label for="email" class="label-name">
                  <span class="content-name"> Email </span>
                </label>
              </div>
                  <button type="submit" class="btn-one">register</button>
            </form>
        </div>
  </body>
</html>
