<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
  </head>
  <body>
    <div class="form-container">
      <div class="header-container">
        <%- include('./partials/headerText.ejs') %>
      </div>
      <div class="body-container">
        <div class="icons-weed">
          <h3>Premium Flower</h3>
        </div>
        <form action="/api/shop/order" method="post">
          <div class="card-container">
            <input type="radio" name="card" id="card_one" value="card_one"/>
            <input type="radio" name="card" id="card_two" value="card_two"/>
            <input type="radio" name="card" id="card_three" value="card_three"/>
            <input type="radio" name="card" id="card_four" value="card_four"/>
            <label for="card_one">
              <div class="card">
                <i class="fa-solid fa-cannabis"></i>
                <h3>Ronin $60</h3>
              </div>
            </label>
            <label for="card_two">
              <div class="card">
                <i class="fa-solid fa-cannabis"></i>
                <i class="fa-solid fa-cannabis"></i>
                <h3>Daimyos $110</h3>
              </div>
            </label>
            <label for="card_three">
              <div class="card">
                <i class="fa-solid fa-cannabis"></i>
                <i class="fa-solid fa-cannabis"></i>
                <i class="fa-solid fa-cannabis"></i>
                <h3>Samurai $200</h3>
              </div>
            </label>
            <label for="card_four">
              <div class="card">
                <i class="fa-solid fa-cannabis"></i>
                <i class="fa-solid fa-cannabis"></i>
                <i class="fa-solid fa-cannabis"></i>
                <i class="fa-solid fa-cannabis"></i>
                <h3>Shogun $360</h3>
              </div>
            </label>
          </div>
          <div class="icons-weed">
            <h3>Michelin Star Edibles</h3>
          </div>
          <div class="card-container">
            <input type="radio" name="edible" id="edible_one" value="edible_one"/>
            <input type="radio" name="edible" id="edible_two" value="edible_two"/>
            <label for="edible_one">
              <div class="card">
                <i class="fa-solid fa-cookie-bite"></i>
                <i class="fa-solid fa-cookie-bite"></i>
                <h3>Choc Blaze Bar $20</h3>
              </div>
            </label>
            <label for="edible_two">
              <div class="card">
                <i class="fa-solid fa-worm"></i>
                <i class="fa-solid fa-worm"></i>
                <h3>Gummy Snack Pack $60</h3>
              </div>
            </label>
            </label>
          </div>
          <div class="icons-weed">
            <h3>Pre-Rolls and Oils</h3>
          </div>
          <div class="card-container">
            <input type="radio" name="vape" id="vape_one"  value="vape_one"/>
            <input type="radio" name="vape" id="vape_two"  value="vape_two"/>
            <input type="radio" name="vape" id="vape_three"  value="vape_three"/>
            <label for="vape_one">
              <div class="card">
                <i class="fa-solid fa-joint"></i>
                <h3>Pre-Roll $20</h3>
              </div>
            </label>
            <label for="vape_two">
              <div class="card">
                <i class="fa-solid fa-joint"></i>
                <i class="fa-solid fa-joint"></i>
                <i class="fa-solid fa-joint"></i>
                <i class="fa-solid fa-joint"></i>
                <i class="fa-solid fa-joint"></i>
                <h3>Doobies Pack (5) $50</h3>
              </div>
            </label>
            <label for="vape_three">
                <div class="card">
                  <i class="fa-solid fa-eye-dropper"></i>
                  <i class="fa-solid fa-droplet"></i>
                  <h3>Vape Cart $60</h3>
                </div>
              </label>
          </div>
          <button type="submit" class="btn-one">Order</button>
        </form>
    </div>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
