<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
  </head>
  <body>
    <div class="form-container">
      <div class="header-container">
        <%- include('./partials/headerText.ejs') %>
      </div>
      <div class="middle-container">
        <div class="icons-weed">
          <h3>Premium Flower</h3>
          <i class="fa-solid fa-cannabis"></i>
          <i class="fa-solid fa-bong"></i>
          <i class="fa-solid fa-joint"></i>
          <i class="fa-solid fa-cannabis"></i>
        </div>
        <div class="card-container">
            <input type="radio" name="card" id="card_one" />
            <input type="radio" name="card" id="card_two" />
            <input type="radio" name="card" id="card_three" />
            <input type="radio" name="card" id="card_four" />
            <label for="card_one">
              <div class="card">
                <div class="img"></div>
                <h3>Ronin $60</h3>
              </div>
            </label>
            <label for="card_two">
              <div class="card">
                <div class="img"></div>
                <h3>Daimyos $110</h3>
              </div>
            </label>
            <label for="card_three">
              <div class="card">
                <div class="img"></div>
                <h3>Samurai $200</h3>
              </div>
            </label>
            <label for="card_four">
              <div class="card">
                <div class="img"></div>
                <h3>Shogun $360</h3>
              </div>
            </label>
          </div>
          <div class="icons-weed">
            <h3>Michelin Star Edibles</h3>
            <i class="fa-solid fa-candy-cane"></i>
            <i class="fa-solid fa-cannabis"></i>
            <i class="fa-solid fa-candy-cane"></i>
            <i class="fa-solid fa-cannabis"></i>
          </div>
          <div class="card-container">
            <input type="radio" name="edible" id="edible_one" />
            <input type="radio" name="edible" id="edible_two" />
            <label for="edible_one">
              <div class="card">
                <div class="img"></div>
                <h3>Choc Blaze Bar $20</h3>
              </div>
            </label>
            <label for="edible_two">
              <div class="card">
                <div class="img"></div>
                <h3>Gummy Snack Pack $60</h3>
              </div>
            </label>
            </label>
          </div>
          <div class="icons-weed">
            <h3>Pre-Rolls and Oils</h3>
            <i class="fa-solid fa-eye-dropper"></i>
            <i class="fa-solid fa-droplet"></i>
          </div>
          <div class="card-container">
            <input type="radio" name="vape" id="vape_one" />
            <input type="radio" name="vape" id="vape_two" />
            <input type="radio" name="vape" id="vape_three" />
            <label for="vape_one">
              <div class="card">
                <h3>Pre-Roll $20</h3>
              </div>
            </label>
            <label for="vape_two">
              <div class="card">
                <h3>Doobies Pack (5) $50</h3>
              </div>
            </label>
            <label for="vape_three">
                <div class="card">
                  <h3>Vape Cart $60</h3>
                </div>
              </label>
          </div>
          <button type="submit" class="btn-one">Order</button>
    </div>
  </body>
</html>
