<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
  </head>
  <body>
    <div class="form-container">
      <div class="header-container">
        <%- include('./partials/headerText.ejs') %>
      </div>
      <div class="body-container">
        <div class="stepper-wrapper">
          <div class="stepper-item completed">
            <div class="step-counter">
              <i class="fa-solid fa-file-circle-check"></i>
            </div>
            <div class="step-name">Order Received</div>
          </div>
          <div class="stepper-item pending">
            <div class="step-counter">
              <i class="fa-solid fa-people-arrows-left-right"></i>
            </div>
            <div class="step-name">Waiting for Delivery Courrier</div>
          </div>
          <div class="stepper-item">
            <div class="step-counter">
              <i class="fa-solid fa-bicycle"></i>
            </div>
            <div class="step-name">Out for Delivery</div>
          </div>
          <div class="stepper-item">
            <div class="step-counter">
              <i class="fa-solid fa-house-user"></i>
            </div>
            <div class="step-name">Delivered</div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
