<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
  </head>
  <body>
    <div class="form-container">
      <div class="header-container">
        <%- include('./partials/headerText.ejs') %>
      </div>
      <div class="body-container">
        <div class="info-banner-neutral">
          <span class="info-banner-body">
            <%= msg %>
            <br />
            <div class="info-banner-icon">
              <i class="fa-solid fa-triangle-exclamation"></i>
              <i class="fa-solid fa-mobile-retro"></i>
              <i class="fa-solid fa-comment-dots"></i>
            </div>
          </span>
        </div>
        <form action="/api/user/verifyPhone/" method="post">
          <div class="form-name">
            <input type="text" name="verifycode" autocomplete="off" required />
            <label for="verifycode" class="label-name">
              <span class="content-name"> Verify Code </span>
            </label>
          </div>
          <button type="submit" class="btn-one">Verify</button>
        </form>
      </div>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
