* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  font-family: sans-serif;

  background-image: linear-gradient(
      to bottom,
      rgba(38, 66, 1, 0.666),
      rgba(0, 0, 0, 0.75)
    ),
    url("/images/weed.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
}

.body-container {
  width: 60%;
}

br {
  content: "";
  margin: -0.45em;
  display: block;
}

.header-container {
  text-align: center;
  margin: auto;
}

.header-container h1 {
  -font-family: "Ms Madi", cursive;
  -font-family: 'Enriqueta', serif;
  font-family: 'Rubik Puddles', cursive;
  -font-family: 'Rubik', sans-serif;
  color: rgb(255, 255, 255);
  font-size: 3em;
  margin: 2rem;
}

.form-container {
  margin: auto;
  width: 420px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  -border: solid 1px rgba(255, 255, 255, 0.777);
  border-radius: 10px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0));
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.form-name {
  width: 100%;
  position: relative;
  height: 50px;
  overflow: hidden;
  -border: 1px dotted grey;
  margin-bottom: 0.5rem;
}

.form-name input {
  width: 100%;
  height: 100%;
  color: rgba(255, 255, 255, 0.777);
  padding-top: 20px;
  border: none;
  outline: none;
  background-color: transparent;
}

.form-name label {
  position: absolute;
  bottom: 0px;
  left: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.777);
  color: rgba(255, 255, 255, 0.777);
}

.form-name label::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -3px;
  height: 100%;
  width: 100%;
  border-bottom: 3px solid rgba(81, 143, 0, 0.666);
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

.content-name {
  position: absolute;
  bottom: 5px;
  left: 0px;
  transition: all 0.3s ease;
}

.form-name input:focus + .label-name .content-name,
.form-name input:valid + .label-name .content-name {
  transform: translateY(-125%);
  font-size: 14px;
  color: rgba(255, 255, 255, 0.666);
}

.form-name input:focus + .label-name::after,
.form-name input:valid + .label-name::after {
  transform: translateX(0%);
}

.btn-one {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.766);
  padding: 12px 34px;
  font-size: 13px;
  background: transparent;
  text-align: center;
  position: relative;
  cursor: pointer;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.btn-one:hover {
  border: 1px solid #ffffff;
  background: #ffffffad;
  transition: 1s;
}

.icons-weed {
  text-align: center;
  color: #fff;
  font-family: 'Enriqueta', serif;
}

.icons-weed .fa-solid {
  color: #ffffff;
  margin: 0.3rem;
  cursor: pointer;
  padding: 5px 0;
}

/* -------NEW ABOVE---------- */
/* ----------------- */
/* ----------------- */

.bg-container {
  /* width: 100%;
  height: 100%; */
  height: 100vh;
  border: 0.5px solid red;
  box-sizing: border-box;
  -background-image: url(https://source.unsplash.com/random/?weed);
  background-image: url(/images/background3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

.modal-container {
  background: rgba(0, 0, 0, 0.4);
  -display: none;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  pointer-events: none;
}

.modal {
  background: rgba(0, 0, 0, 1);
  width: 50%;
  -max-width: 75%;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
}

.modal h1 {
  color: #fff;
}

.modal p {
  color: #fff;
}

.navbar {
  padding: 1em;
  border-radius: 30px;
  -margin: 0.5em;
  background: rgba(0, 0, 0, 0.15);
  -position: fixed;
  -top: 0; /* Position the navbar at the top of the page */
  -width: 100%; /* Full width */
  -height: 100px;
}

.navbar a {
  font-family: "Ms Madi", cursive;
  font-size: 50px;
  margin-left: 5px;
  color: whitesmoke;
  text-decoration: none;
}

nav {
  display: flex;
  padding: 1% 6%;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  flex: 1;
  text-align: right;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav-links ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 25px;
}

.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background-color: #ffffff;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav-links ul li:hover::after {
  width: 100%;
}

.welcome-box {
  color: #fff;
  text-align: center;
  border-radius: 30px;
  background: rgba(0, 0, 0, 0.15);
  -margin: 3em;
}

.welcome-box-col {
  float: left;
  border-radius: 10px;
  text-align: center;
  padding: 10px;
}

.welcome-left {
  width: 40%;
}

.welcome-right {
  width: 60%;
}

.welcome-right img {
  margin-top: 1%;
  width: 100%;
}

.welcome-box h1 {
  font-size: 38px;
}

.welcome-box p {
  margin: 10px 0 40px;
  font-size: 14px;
  color: #fff;
}

.welcome-box-col img {
  width: 75%;
  border-radius: 10px;
}

.login-btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 12px 34px;
  font-size: 13px;
  background: transparent;
  position: relative;
  cursor: pointer;
  margin: 1px;
}

.login-btn:hover {
  border: 1px solid #f44336;
  background: #f44336;
  transition: 1s;
}

@media (max-width: 700px) {
  .text-box h1 {
    font-size: 20px;
  }
  .text-box p {
    margin: 10px 0 40px;
    font-size: 11px;
    color: #fff;
  }
  .nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
  }
  .header a {
    font-family: "Ms Madi", cursive;
    font-size: 30px;
    color: whitesmoke;
    text-decoration: none;
  }
  .row {
    flex-direction: column;
  }

  .welcome-box-col {
    width: 100%;
  }

  .welcome-box-col img {
    width: 90%;
  }
}

.products {
  color: #fff;
  text-align: center;
  background: rgba(0, 0, 0, 0.15);
  border-radius: 30px;
  margin: 0.5em;
}

.products h1 {
  font-size: 24px;
  font-weight: 600;
}

.products p {
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
}

.row {
  margin: 2%;
  display: flex;
  justify-content: space-between;
}

.product-col {
  flex-basis: 35%;
  background: rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.5s;
}

.product-col img {
  width: 100%;
  display: block;
  border-radius: 10px;
}

.products h3 {
  text-align: center;
  font-weight: 600;
  margin: 10px;
}

.product-col:hover {
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.8);
}

.location {
  color: #fff;
  margin: auto;
  text-align: center;
  background: rgba(0, 0, 0, 0.15);
  border-radius: 30px;
  -margin: 0.5em;
}

h1 {
  padding-top: 2px;
}

.services {
  margin: auto;
  text-align: center;
  color: white;
}

/* .location h1 {
  font-size: 24px;
  font-weight: 600;
}

.location p {
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
} */

.location-col {
  flex-basis: 32%;
  border-radius: 10px;
  margin-bottom: 10px;
  position: relative;
  overflow: hidden;
}

.location-col img {
  width: 100%;
  display: block;
}

.layer {
  background: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  transition: 0.5s;
}

.layer:hover {
  background: rgba(120, 104, 104, 0.7);
}

.layer h3 {
  width: 100%;
  font-weight: 500;
  color: #fff;
  font-size: 20px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  opacity: 0;
  transition: 0.5s;
}

.layer:hover h3 {
  bottom: 49%;
  opacity: 1;
}

.services {
  margin: auto;
  text-align: center;
  color: white;
}

.services-col {
  flex-basis: 30%;
  border-radius: 10px;
  margin-bottom: 5%;
  text-align: center;
}

.services-col img {
  width: 80%;
  border-radius: 10px;
}

.services-col p {
  padding: 0;
}

.services-col h3 {
  margin-top: 16px;
  margin-bottom: 15px;
}

.footer {
  -position: fixed;
  -left: 0;
  -bottom: 0;
  -position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: #fff;
  border-radius: 30px;
  background: rgba(0, 0, 0, 0.15);
}

.icons .fa-brands {
  -color: #f44336;
  margin: 0 7px;
  -cursor: pointer;
  padding: 5px 0;
}

.fa-heart {
  color: #f44336;
}

/* ----------------- */

.icons-weed {
  text-align: center;
  font-size: 14px;
}

.icons-weed .fa-solid {
  color: #ffffff;
  margin: 0.3rem;
  cursor: alias;
  padding: 5px 0;
}

.card-container {
  display: flex;
  justify-content: center;
  margin: 0.3rem;
}

.card {
  background-color: rgba(0, 70, 21, 0.797);
  padding: 0.7rem;
  -margin: 0 auto;
  margin: 0.1rem;
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  border-radius: 0.5rem;
  position: relative;
  cursor: pointer;
  border: 0.2rem solid transparent;
  transition: 200ms ease-in-out transform;
  color: white;
  text-align: center;
  font-size: 10px;
  -width: 100%;
  font-family: 'Sarala', sans-serif;
}

.card:hover {
  transform: scale(1.02);
}
.card:active {
  transform: scale(0.97);
}

input[id="card_one"]:checked ~ label[for="card_one"] .card,
input[id="card_two"]:checked ~ label[for="card_two"] .card,
input[id="card_three"]:checked ~ label[for="card_three"] .card,
input[id="card_four"]:checked ~ label[for="card_four"] .card {
  border-color: rgb(255, 255, 255);
}
/* you can see based on which card is checked the border color will be changed */
/* ~ selector selects the sibling elements, in this case the label */

input[id="edible_one"]:checked ~ label[for="edible_one"] .card,
input[id="edible_two"]:checked ~ label[for="edible_two"] .card {
  border-color: rgb(255, 255, 255);
}

input[id="vape_one"]:checked ~ label[for="vape_one"] .card,
input[id="vape_two"]:checked ~ label[for="vape_two"] .card,
input[id="vape_three"]:checked ~ label[for="vape_three"] .card {
  border-color: rgb(255, 255, 255);
}

.card-container input{
  display: none;
}
