* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --line-border-fill: #9c27b0;
  --line-border-empty: #bdbdbd;
}

body {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  font-family: sans-serif;

  background-image: linear-gradient(
      to bottom,
      rgba(38, 66, 1, 0.666),
      rgba(0, 0, 0, 0.75)
    ),
    url("/images/weed.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
}

.progress-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 30px;
  max-width: 100%;
  width: 100%;
}

.progress-container::before {
  content: "";
  background-color: var(--line-border-fill);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 100%;
  z-index: -1;
  transition: 0.4s ease;
}

.progress {
  background-color: var(--line-border-fill);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 0%;
  z-index: -1;
  transition: 0.4s ease;
}

.circle {
  background-color: #fff;
  color: #999;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  border: 3px solid #b3bec3;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s ease;
}

.circle.active {
  border-color: var(--line-border-fill);
}

.btn:active {
  transform: scale(0.97);
}

.btn:disabled {
  background-color: var(--line-border-empty);
  cursor: not-allowed;
}

.fa-html5 {
  font-size: 1.8rem;
  color: #f44336;
}

.fa-css3-alt {
  font-size: 1.8rem;
  color: rgba(0, 35, 209, 0.797);
}

.fa-js {
  font-size: 1.8rem;
  color: rgba(226, 226, 2, 0.797);
}

.fa-react {
  font-size: 1.8rem;
  color: rgba(0, 188, 209, 0.797);
}

br {
  content: "";
  margin: -0.45em;
  display: block;
}

.header-container {
  text-align: center;
  margin-bottom: 0.1rem;
}

.header-container h1 {
  -font-family: "Ms Madi", cursive;
  -font-family: "Enriqueta", serif;
  font-family: "Rubik Puddles", cursive;
  -font-family: "Rubik", sans-serif;
  color: rgb(255, 255, 255, 1);
  font-size: 3em;
  margin: 1rem;
}

.body-container {
  width: 75%;
  text-align: center;
}

.image-container img {
  width : 75%;
  border-radius: 4px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.699));
}

.form-container {
  margin: auto;
  height: 80%;
  width: 669px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  -border: solid 1px rgba(255, 255, 255, 0.777);
  border-radius: 10px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0));
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-animation: fadein 1s; /* Firefox */
  -webkit-animation: fadein 1s; /* Safari and Chrome */
  -o-animation: fadein 1s; /* Opera */
}

.info-container {
  margin: 1rem;
  text-align: center;
  width: 75%;
  font-family: "Enriqueta", serif;
  font-size: 14px;
  color: rgb(255, 255, 255, 1);
}

.form-name {
  width: 100%;
  position: relative;
  height: 50px;
  overflow: hidden;
  -border: 1px dotted grey;
  margin-bottom: 0.5rem;
}

.form-birthday {
  width: 100%;
  position: relative;
  height: 50px;
  overflow: hidden;
  color: white;
}

.form-birthday label {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  pointer-events: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.777);
}

.content-birthday {
  position: absolute;
  top: 0px;
  left: 0px;
  color: rgba(255, 255, 255, 0.777);
  font-size: 12px;
}

.form-birthday label::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -3px;
  height: 100%;
  width: 100%;
  border-bottom: 3px solid rgba(75, 75, 75, 0.666);
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

.form-birthday input {
  width: 100%;
  height: 100%;
  color: rgba(255, 255, 255, 0.777);
  border: none;
  outline: none;
  background-color: transparent;
}

.form-name input {
  width: 100%;
  height: 100%;
  color: rgba(255, 255, 255, 0.777);
  padding-top: 20px;
  border: none;
  outline: none;
  background-color: transparent;
}

.form-name label {
  position: absolute;
  bottom: 0px;
  left: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.777);
  color: rgba(255, 255, 255, 0.777);
  font-size: 12px;
}

.form-name label::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -3px;
  height: 100%;
  width: 100%;
  border-bottom: 3px solid rgba(75, 75, 75, 0.666);
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

.content-name {
  position: absolute;
  bottom: 5px;
  left: 0px;
  transition: all 0.3s ease;
}

.form-name input:focus + .label-name .content-name,
.form-name input:valid + .label-name .content-name {
  transform: translateY(-125%);
  font-size: 12px;
  color: rgba(255, 255, 255, 0.666);
}

.form-name input:focus + .label-name::after,
.form-name input:valid + .label-name::after {
  transform: translateX(0%);
}

.btn-one {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.766);
  padding: 12px 34px;
  font-size: 13px;
  background: transparent;
  text-align: center;
  position: relative;
  cursor: pointer;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.btn-one:hover {
  border: 1px solid #ffffff;
  background: #ffffffad;
  transition: 1s;
}

.btn-one:disabled,
.btn-one[disabled] {
  border: 1px solid #ffffff;
  background-color: #ccccccc5;
  color: #666666;
  cursor: not-allowed;
}

.btn-one:active {
  transform: scale(0.97);
}

.icons-weed {
  text-align: center;
  color: #fff;
  font-family: "Enriqueta", serif;
}

.icons-weed .fa-solid {
  color: #ffffff;
  margin: 0.3rem;
  cursor: pointer;
  padding: 5px 0;
}

/* -------NEW ABOVE---------- */
/* ----------------- */
/* ----------------- */

.icons .fa-brands {
  -color: #f44336;
  margin: 0 7px;
  -cursor: pointer;
  padding: 5px 0;
}

.fa-heart {
  color: #f44336;
}

/* ----------------- */

.icons-weed {
  text-align: center;
  font-size: 14px;
}

.icons-weed .fa-solid {
  color: #ffffff;
  margin: 0.3rem;
  cursor: alias;
  padding: 5px 0;
}

.card-container {
  display: flex;
  justify-content: center;
  margin: 0.3rem;
}

.card {
  background-color: rgba(0, 70, 21, 0.797);
  padding: 0.7rem;
  -margin: 0 auto;
  margin: 0.1rem;
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  border-radius: 0.5rem;
  position: relative;
  cursor: pointer;
  border: 0.2rem solid transparent;
  transition: 200ms ease-in-out transform;
  color: white;
  text-align: center;
  font-size: 10px;
  -width: 100%;
  font-family: "Sarala", sans-serif;
}

.card:hover {
  transform: scale(1.02);
}
.card:active {
  transform: scale(0.97);
}

input[id="card_one"]:checked ~ label[for="card_one"] .card,
input[id="card_two"]:checked ~ label[for="card_two"] .card,
input[id="card_three"]:checked ~ label[for="card_three"] .card,
input[id="card_four"]:checked ~ label[for="card_four"] .card {
  border-color: rgb(255, 255, 255);
}
/* you can see based on which card is checked the border color will be changed */
/* ~ selector selects the sibling elements, in this case the label */

input[id="edible_one"]:checked ~ label[for="edible_one"] .card,
input[id="edible_two"]:checked ~ label[for="edible_two"] .card {
  border-color: rgb(255, 255, 255);
}

input[id="vape_one"]:checked ~ label[for="vape_one"] .card,
input[id="vape_two"]:checked ~ label[for="vape_two"] .card,
input[id="vape_three"]:checked ~ label[for="vape_three"] .card {
  border-color: rgb(255, 255, 255);
}

.card-container input {
  display: none;
}

.confirm {
  text-align: center;
  color: #fff;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes scale {
  0%,
  100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}
@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px #7ac142;
  }
}

.confirm {
  font-family: "Sarala", sans-serif;
  font-size: 14px;
}

.stepper-wrapper {
  font-family: Arial;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.step-name {
  font-family: "Sarala", sans-serif;
  padding: 1px;
  color: white;
}

.stepper-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;

  @media (max-width: 768px) {
    font-size: 12px;
  }
}

@-webkit-keyframes pulsing {
  0% {
    -webkit-transform: scale(0.95, 0.95);
    transform: scale(0.95, 0.95);
  }
  50% {
    -webkit-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
  }
  100% {
    -webkit-transform: scale(0.95, 0.95);
    transform: scale(0.95, 0.95);
  }
}

@keyframes pulsing {
  0% {
    -webkit-transform: scale(0.95, 0.95);
    transform: scale(0.95, 0.95);
  }
  50% {
    -webkit-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
  }
  100% {
    -webkit-transform: scale(0.95, 0.95);
    transform: scale(0.95, 0.95);
  }
}

.stepper-item::before {
  position: absolute;
  content: "";
  border-bottom: 2px solid #ccc;
  width: 100%;
  top: 20px;
  left: -50%;
  z-index: 2;
}

.stepper-item::after {
  position: absolute;
  content: "";
  border-bottom: 2px solid #ccc;
  width: 100%;
  top: 20px;
  left: 50%;
  z-index: 2;
}

.stepper-item .step-counter {
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: rgba(180, 180, 180, 0);
  margin-bottom: 6px;
}

.stepper-item.active {
  font-weight: bold;
}

.stepper-item.completed .step-counter {
  background-color: rgba(67, 209, 2, 1);
}

.stepper-item.pending .step-counter {
  background-color: #84cdc7;
  -webkit-animation: pulsing 2s infinite;
  animation: pulsing 2s infinite;
}

.stepper-item.completed::after {
  position: absolute;
  content: "";
  border-bottom: 2px solid rgba(67, 209, 2, 1);
  width: 100%;
  top: 20px;
  left: 50%;
  z-index: 3;
}

.stepper-item:first-child::before {
  content: none;
}
.stepper-item:last-child::after {
  content: none;
}

.fa-solid {
  color: #fff;
}

.header-img img {
  width: 20%;
}

/*  */

.sb-title {
  font-family: "Enriqueta", serif;
  font-weight: 500;
}

.sb-title-icon {
  position: relative;
  top: -5px;
  color: #fff;
}

.card-container-map {
  margin: 0.1rem;
  display: flex;
  height: 500px;
  width: 600px;
  @media (max-width: 430px) {
    display: inline;
  }
}

@media only screen and (max-width: 600px) {
  .card-container-map {
    margin: 0.5rem;
    display: inline;
    height: 100%;
    width: 335px;
  }
  .form-container {
    height: 80vh;
    width: 420px;
  }
}

.panel {
  background: rgba(255, 255, 255, 0.529);
  color: white;
  width: 100%;
  height: 400px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0.1rem;
  border-radius: 3px;
}

.half-input-container {
  display: flex;
  justify-content: space-between;
}

.half-input {
  max-width: 120px;
}

.map {
  width: 100%;
  height: 400px;
  margin: 0.1rem;
  border-radius: 3px;
}

.card-container-map h2 {
  margin: 0;
  font-family: "Sarala", sans-serif;
}

.card-container-map input {
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.612);
  font-size: 14px;
  font-family: "Sarala", sans-serif;
  font-style: normal;
  font-weight: normal;
  background: rgba(255, 255, 255, 0);
}

/*  */

@keyframes slide {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -120px 60px;
  }
}

.info-banner-pass {
  text-align: center;
  width: 70%;
  padding: 0.5rem;
  margin: 1rem;
  background-color: rgba(61, 182, 0, 0.459);
  border-radius: 5px;
  display: none;
  -moz-animation: fadein 3s; /* Firefox */
  -webkit-animation: fadein 3s; /* Safari and Chrome */
  -o-animation: fadein 3s; /* Opera */
}

.info-banner-fail {
  text-align: center;
  width: 70%;
  padding: 0.5rem;
  margin: 1rem;
  background-color: rgba(210, 0, 0, 0.535);
  color: rgba(255, 255, 255, 0.777);
  border-radius: 5px;
  display: none;
  -moz-animation: fadein 3s; /* Firefox */
  -webkit-animation: fadein 3s; /* Safari and Chrome */
  -o-animation: fadein 3s; /* Opera */
}

.info-banner-neutral {
  width: 70%;
  text-align: center;
  padding: 1rem;
  background-color: rgba(201, 201, 201, 0.195);
  color: rgba(255, 255, 255, 0.777);
  border-radius: 5px;
  display: inline-block;
  -moz-animation: fadein 3s; /* Firefox */
  -webkit-animation: fadein 3s; /* Safari and Chrome */
  -o-animation: fadein 3s; /* Opera */
}

.info-banner-body {
  display: inline-block;
  position: relative;
  text-align: center;
  vertical-align: middle;
  color: #fff;
  font-size: 14px;
}

.info-banner-icon {
  margin-top: 0.5rem;
}

@keyframes bounce {
  from {
    transform: translateY(5px);
  }
  to {
    transform: translateY(-5px);
  }
}
@-webkit-keyframes bounce {
  from {
    transform: translateY(5px);
  }
  to {
    transform: translateY(-5px);
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.footer {
  animation: glitch 3s linear infinite;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 0.6rem;
  font-family: 'Fira Mono', monospace;
  margin: 0.2rem;
}

@keyframes glitch {
  2%,
  64% {
    transform: translate(2px, 0) skew(0deg);
  }
  4%,
  60% {
    transform: translate(-2px, 0) skew(0deg);
  }
  62% {
    transform: translate(0, 0) skew(5deg);
  }
}

.footer:before,
.footer:after {
  content: "Made With Love By Leche64";
  position: absolute;
}

.footer:before {
  animation: glitchTop 1s linear infinite;
  clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

@keyframes glitchTop {
  2%,
  64% {
    transform: translate(2px, -2px);
  }
  4%,
  60% {
    transform: translate(-2px, 2px);
  }
  62% {
    transform: translate(13px, -1px) skew(-13deg);
  }
}

.footer:after {
  animation: glitchBotom 1.5s linear infinite;
  clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

@keyframes glitchBotom {
  2%,
  64% {
    transform: translate(-2px, 0);
  }
  4%,
  60% {
    transform: translate(-2px, 0);
  }
  62% {
    transform: translate(-22px, 5px) skew(21deg);
  }
}

.fa-heart {
  color: rgb(212, 0, 0);
  text-shadow: 0 0 4px rgb(255, 255, 255);
}
